<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="CoreSlots" type="CCMS.CustomConfiguration,CCMS" />
  </configSections>

  <CoreSlots>
    <add value="CCMS_TITLE" />
    <add value="CCMS_KEYWORDS" />
    <add value="CCMS_DESCRIPTION" />
    <add value="CCMS_AUTHOR" />
  </CoreSlots>
  
  <appSettings>
    <!-- database connection params -->
    <add key="dbdriver" value="{SQL Server}"/>
    <add key="dbserver" value="ATLAS-SQL-07"/>
    <add key="dbname" value="thecovencouk_488009_db1"/>
    <add key="dbuser" value="uthecov_488009_1"/>
    <add key="dbpassword" value="Asteroth666"/>

    <!-- template path -->
    <add key="TemplateBasePath" value="\\web-123win\winpackage21\thecoven.co.uk\www.thecoven.co.uk\web\content\ccms_asp\templates\" />
    <add key="TemplateBaseRelativePath" value="\ccms.templates\" />

    <!-- -->
    <add key="DeploymentType" value="web" />

    <!-- logging (log4CCMS) -->
    <add key="logging" value="on"/>
    <add key="loglevel" value="trace"/>

    <!-- cache settings -->
    <add key="usecache" value="true"/>
    <add key="cachetimeout" value="10"/>
    
    <!-- editor settings -->
    <add key="editorBasePath" value="/editor"/>

  </appSettings>
    <connectionStrings/>
  
    <system.web>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="true" />
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Windows" />
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
      <customErrors mode="Off"/>
    </system.web>


   <system.webServer>
      <staticContent>
         <mimeMap fileExtension=".json" mimeType="application/json" />
         <mimeMap fileExtension=".tab" mimeType="text/plain" />
		 <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
         <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      </staticContent>
   </system.webServer>

</configuration>
